.modal-overlay{

position:fixed;

inset:0;

background:rgba(0,0,0,.6);

backdrop-filter:blur(6px);

display:flex;

align-items:center;

justify-content:center;

z-index:1000;

}

.modal-box{

width:500px;

background:#18181B;

border:1px solid #2d2d33;

border-radius:18px;

padding:20px;

animation:fadeIn .2s ease;

}

.modal-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:15px;

}

.modal-header button{

background:transparent;

color:white;

font-size:18px;

border:none;

cursor:pointer;

}