.delete-overlay{
position:fixed;
inset:0;
background:rgba(0,0,0,.75);
backdrop-filter:blur(8px);
display:flex;
justify-content:center;
align-items:center;
z-index:999;
}

.delete-modal{

width:420px;

background:#171923;

border:1px solid #2d3242;

border-radius:20px;

padding:35px;

text-align:center;

animation:popup .25s ease;

}

.delete-icon{

width:70px;

height:70px;

margin:auto;

border-radius:50%;

background:#ef444420;

display:flex;

justify-content:center;

align-items:center;

font-size:34px;

margin-bottom:20px;

}

.delete-modal h2{

color:white;

margin-bottom:12px;

}

.delete-modal p{

color:#d1d5db;

line-height:1.6;

}

.delete-modal span{

display:block;

margin-top:10px;

color:#9ca3af;

font-size:14px;

}

.delete-buttons{

display:flex;

justify-content:center;

gap:15px;

margin-top:30px;

}

.cancel-delete{

padding:12px 26px;

background:#272c39;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}

.confirm-delete{

padding:12px 26px;

background:#ef4444;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

transition:.25s;

}

.confirm-delete:hover{

background:#dc2626;

transform:translateY(-2px);

}