.table-wrapper{

margin-top:30px;

overflow-x:auto;

border-radius:20px;

border:1px solid #27272A;

background:#18181B;

}

.crm-table{

width:100%;

border-collapse:collapse;

min-width:900px;

}

.crm-table th{

padding:18px;

text-align:left;

background:#111114;

color:#A1A1AA;

font-size:14px;

font-weight:600;

border-bottom:1px solid #27272A;

}

.crm-table td{

padding:18px;

border-bottom:1px solid #27272A;

}

.crm-table tbody tr{

transition:.25s;

}

.crm-table tbody tr:hover{

background:#202024;

}
.empty-row{

padding:40px;

text-align:center;

color:#8b90a0;

}

.status{

padding:6px 14px;

border-radius:30px;

font-size:13px;

font-weight:600;

display:inline-block;

}

.status.active{

background:#1d4ed8;

color:white;

}

.status.pending{

background:#f59e0b;

color:white;

}

.status.resolved{

background:#10b981;

color:white;

}

.status.closed{

background:#6b7280;

color:white;

}

.priority{

padding:6px 14px;

border-radius:30px;

font-size:13px;

font-weight:600;

display:inline-block;

}

.priority.low{

background:#2563eb;

color:white;

}

.priority.medium{

background:#d97706;

color:white;

}

.priority.high{

background:#dc2626;

color:white;

}

.table-actions{

display:flex;

gap:10px;

}

.edit-btn,

.delete-btn{

width:36px;

height:36px;

border:none;

border-radius:10px;

cursor:pointer;

display:flex;

justify-content:center;

align-items:center;

transition:.25s;

}

.edit-btn{

background:#3b82f6;

color:white;

}

.edit-btn:hover{

transform:translateY(-2px);

}

.delete-btn{

background:#ef4444;

color:white;

}

.delete-btn:hover{

transform:translateY(-2px);

}